{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}


{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<h3 class="text-center"><strong>Si quieres comunicarte conmigo o ver mis repositorios en github alli estan mis enlaces, cualquier duda que tengas puedes escribirme al mail, igual que mi canal de Youtube, saludos</strong></h3>
		<br>
		<i class="fa fa-phone" aria-hidden="true"></i><a> Teléfono: +58 416 690 4006</a>
		<br>
		<i class="fa fa-dollar" aria-hidden="true"></i><a> Honorarios: 5$/h (precio base)</a>
		<br>
		<i class="fa fa-facebook-square" aria-hidden="true"></i><a> Facebook: Isaac Bonalde</a>
		<br>
		<i class="fa fa-instagram" aria-hidden="true"></i><a> Instagram: @isaac22bp</a>
		
		
	</div>
</div>
{% endblock %}

